%table{:class => "table table-hover"}
  %tr
    %th URL List
  - @challenges.each do |challenge|
    %tr
      %td
        =# link_to challenge.url , "http://#{challenge.url}"  , :target => :blank 
        = link_to "#{root_url}#{challenge.bit_code}" , "#{root_url}#{challenge.bit_code}"  , :target => :blank
